body
{
	background-color: #f9f9f9 !important;
}

#pp-wrapper
{
	margin-top: 30px;
}

#stretch
{
	background: #363a43;
	width: 100%;
	box-shadow: 0px 1px 10px #999;
}

#info
{
	margin-top: 50px;
}

#boldp
{
	font-weight: bold;
	color: #017BB9;
}

#u
{
	text-decoration: underline;
}

#underlineDiv
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLine
{
    background-color: #DCDCDC;
    height: 2px;
    width: 145px;
}

#blue-line
{
	margin-left: 45px;
    background-color: #00b2db;
    height: 2px;
    width: 50px;
    margin-top: -2px;
}

#underlineDivC
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dividerLineC
{
    background-color: #DCDCDC;
    height: 2px;
    width: 340px;
    margin-left: 80px;
}

#blue-lineC
{
	margin-left: 210px;
    background-color: #00b2db;
    height: 2px;
    width: 80px;
    margin-top: -2px;
}


/* ------------------------------------- Side Nav ----------------------------------------*/
.navbar
{
  box-shadow: 0px 1px 8px #999;
}

.nav-item
{
	font-size: 20px;
}

#logoNav
{
	height: 70px;
	width: 70px;
}

#logoLink
{
	width: 70px;
	height: 70px;
	margin-top: -10px;
	margin-bottom: -18px;
}

#link
{
	text-decoration: none;
}

a.welcome1
{
	font-size: 50px;
	text-align: center;
	margin-bottom: -5px;
}
span.welcome1
{
	color:#263238;
	font-weight: 500;
	font-size:30px;
}
span.welcome2
{
	color:#017BB9;
	font-weight:bold;
	font-size:30px;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: -5px;
}

.navbar-brand2 {
  transform: translateX(100%);
  right: 90px;
  position: absolute;
  margin-top: 2px;
}

#nav-hover
{
  display: inline-block;
  position: relative;
  margin-top: 0;
}

#nav-hover::after
{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #017BB9;
  transition: width .3s;
}

#nav-hover:hover::after
{
  width: 100%;
  transition: width .3s;
}

#active-hover
{
	font-weight: bold;
	color: #017BB9;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	position: 
}

.navbar
{
	border-bottom: 1px solid lightgrey;
}


/*PatientPal*/

#title
{
	color: #2d2d2d;
	font-size: 32px;
	font-weight: 600;
	font-family: Montserrat,sans-serif;
}
#ppDiv
{
	padding: 50px;
}

p.welcome
{
	font-size: 50px;
	text-align: center;
	margin-bottom: -5px;
}

span.welcome
{
	color:#017BB9;
	font-weight:bold;
	font-size:20;
}

#patientInfo
{
    color: #626262;
    font-size: 20px;
	font-family: Montserrat,sans-serif;
}

.welcomeprocesses
{
	font-size: 40px;
}

#bold
{
	text-decoration: underline;
	font-weight: 900;
}

#bold2
{
	text-decoration: underline;
	font-weight: 900;
}
#processTitle
{
	text-decoration: bold;
	font-size: 40px;
	margin-left: 130px;
}

.processInfo
{
	font-size: 18px;
	font-weight: lighter;
}

#titleDiv
{
	margin-top: 50px;
	margin-bottom: 50px;
}

#steps
{
	font-size: 40px;
	font-weight: 900;
	font-weight: lighter;
}

#olN
{
	font-size: 30px;
	font-weight: bolder;
}

#info2
{
	text-align: center;
	font-size: 30px;
	font-weight: lighter;
	margin-top: 100px;
}

#info3
{
	text-align: center;
	font-size: 25px;
	font-weight: lighter;
	margin-top: 30px;
}

/*--------------------------Bottom Info--------------------------*/
#hr
{
  border: 1px solid #b4b5b8;
  width: 100%;
  margin-bottom: 10px;
}

#footerDiv
{
	width: 100%;
	height: 80px;
	background-color: #2f333b;
}

#footer
{
	padding-top: 30px;
	color: #b4b5b8;
	text-align: center;
}

#bottomInfo
{
  width: 100%;
  height: 100%;
  background: #363a43;
  color: white;
}
.bottomDiv
{
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bDiv
{ 
  margin: 30px;
  height: 100%;
  width: 300px;
  text-align: left;
}

#CMiniLogo
{
  color: #D0D3D4;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;

}
#SMiniLogo
{
  color:#017BB9;
  font-weight: 600;
  font-size: 30px;

}

#miniTitle
{
  font-size: 25px;
  color: #f0f0f0;
}

.miniInfo
{
  font-weight: lighter;
  color: #b4b5b8;
}

#miniLink
{
  color: #f0f0f0;
}


#contact
{
	text-align: center;
	height: 300px;
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.icon
{
	margin: 30px;
}
